*Start {{targetEnv}} Deployment*
*Branch:* <{{gitUrl}}/commits/{{branch}}|{{branch}} ({{revision}})>
*Jira:* {{jiraUrl}}/issues/?jql=key%20in%20({{#issues}}{{{value}}}{{^last}},{{/last}}{{/issues}})
*Changes:*
```
{{#changes}}
{{{value}}}
{{/changes}}
```