Message has been sent successfully to console .
message: {{message}}

Available collectors:
{{#collectors}}
- {{value}}
{{/collectors}}

Available senders:
{{#senders}}
- {{value}}
{{/senders}}

See README.md for instructions.