{{headline}}

Environment: {{targetEnv}}
Previous Version: {{oldVersion}}
New Version: {{version}}

Changes:
========

View in Jira
https://{{jiraUrl}}/issues/?jql=key%20in%20({{#jiraVersion}}{{#value.value}}{{{value.issueKey}}}{{^last}},{{/last}}{{/value.value}}{{^last}},{{/last}}{{/jiraVersion}})

Tickets
{{#jiraVersion}}
{{#value.value}}
[{{value.type}}] - https://{{jiraUrl}}/browse/{{{value.issueKey}}} {{{value.summary}}}
{{/value.value}}
{{/jiraVersion}}