{{headline}}

Environment: {{targetEnv}}
Previous Version: {{oldVersion}}
New Version: {{version}}

Changes:
========

View in Jira
https://{{jiraUrl}}/issues/?jql=key%20in%20({{#issues}}{{{value}}}{{^last}},{{/last}}{{/issues}})

Tickets
{{#issues}}
https://{{jiraUrl}}/browse/{{{value}}}
{{/issues}}