Start {{targetEnv}} Deployment {{version}}
Previous Version: {{oldVersion}}
New Version: {{version}}
Changes: {{jiraUrl}}/issues/?jql=key%20in%20({{#issues}}{{{value}}}{{^last}},{{/last}}{{/issues}})