{
	"$schema":"http://adaptivecards.io/schemas/adaptive-card.json",
	"type":"AdaptiveCard",
	"version":"1.3",
	"msTeams": {
		"width": "full"
	},
	"body":[
		{
			"type": "TextBlock",
			"size": "Large",
			"weight": "Bolder",
			"wrap": true,
			"text": "Deployed {{{version}}} to {{targetEnv}}"
		}
	]
}

